/* Begin GRID styles: */
body {
  padding: 2px;
  text-align: center;
  font: Helvetica Neue, Helvetica;
  font-family: "monospace";
}
/* https://colorhunt.co/palette/212802 */
/* https://brandpalettes.com/heineken-color-codes/ */

.header {
  grid-area: header;
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
}

.header h1 {
  font-size: 1.5rem;
}
.pcc {
  grid-area: pcc;
  background-color: #fff;
}
.map {
  grid-area: map;
  background-color: #fff;
}
.selector {
  grid-area: selector;
  background-color: #fff;
}
.footer {
  grid-area: footer;
  background-color: #4d4d4d;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 1fr 2fr 30px;
  grid-template-areas:
    "header header header"
    "pcc pcc pcc"
    "map map selector"
    "footer footer footer";
  height: 100vh;
  justify-content: space-between;
  gap: 5px;
}
/* End GRID styles: */

.selector {
  overflow: scroll;
  padding: 15px;
}
